<%- include("partials/header.ejs"); %>
</section>

<div class="about">


<h2>CINEMA - The best choice for your next movie experience</h2>

<p>CINEMA  is more than a regular place to see a movie - it is a movie theater for movie lovers. Since 1975, our mission has been to create the most complete and best possible movie-going experience for our customers.

Picture and Sound
The experience inside the auditorium is our focal point. Designed to exceed THX standards of presentation excellence, our theater features the best in superior 4K + HFR projection with high-definition picture quality. In our premium multidimensional DOLBY ATMOS sound things come alive in breathtaking detail and flow all around you - even overhead - to make you feel like you are truly inside the story.

Reserved Seating
For a more relaxed movie-going experience, you can purchase tickets and select your seats in advance both at the box office and through our website and apps (iOS and Android).

Balcony
Seating on the balcony - your unique experience. Our balcony features highly comfortable premium leather seats, additional leg room and stadium seating with an unbeatable view.

Unique Programming
Our film programming is directed at the discerning moviegoer, with a mix of new-release blockbusters, specialty and art house films, and special events such as live transmissions from the most renowned opera houses of the world. The program is available as a printed copy or online on our website.

A More Enhanced Viewing Experience
To optimize the moviegoing experience for all guests, we place a heavy emphasis on common courtesy in our auditorium – therefore, please no talking or mobile phone use when programming is on screen. We also limit the number of commercials and trailers, so your movie begins shortly after the advertised showtime.

The CINEMA crew
Our friendly and courteous staff members do their best to make your movie visit special - and enjoy movies just like you.

Café, Bar, Snacks
Hungry? Thirsty? The CINEMA concession bar features hot and cold drinks, snacks and, of course, our signature gourmet popcorns – movie-theater-style, in both salted and sweet varieties. In fact, our bar can be enjoyed just for meeting friends over a coffee as well. (https://www.cinema-muenchen.com/cinema.html)</p>
</div>


<%- include("partials/footer.ejs"); %>
